<!-- Header -->
<header>
</header>
<!-- Main -->    
<main role="main">
  <%= render 'groups/print_list_alumnos' %>
</main>

<!-- Pie -->
<hr>
  <footer class="bottom">
    <div class="container hidden-xs">
     <ul class="nav navbar-nav pull-left">
       <p class="fa fa-rocket"> Powered by Inscripciones - 2018</p>
       <p class="fa fa-rocket"> www.cursosonline.cl</p>
     </ul>
   </div>
 </footer>

