// import the CSS framework
//@import "bootstrap-sprockets";

//@import "bootstrap/bootswatch";

//@import "bootstrap/bootswatch/yeti/variables";

// Bootstrap body padding for fixed navbar
body { padding-top: 60px; }

// And finally bootswatch style itself
//@import "bootstrap/bootswatch/yeti/bootswatch";

// Bootstrap body padding for fixed navbar
body { padding-top: 60px; }
//@import "bootstrap";

//@import "bootstrap/bootswatch/yeti/bootstrap";


// Whatever application styles you have go last
//@import "base";

// make all images responsive by default
img {
  @extend .img-responsive !optional;
  margin: 0 auto;
  }
